@import "tailwindcss";
@tailwind utilities;

:root {
   font-family: "Quicksand", sans-serif;
   background-image: url("./bg.jpg");
}
nav{
  background-color: white;
  margin: 10px;
}
body{
  height: 100vh;
  width: 100vw;
}
h1{
  color: #4f39f6;
  font-weight: bold;
}
#root{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.main_kanban_container {
  width: 350px;
  height: 95%;
  text-align: center;
  padding: 10px;
  background-color: #833ff2;
}

.modal-sm .modal-card{
  width: 500px;
  height: 400px;
}

.modal-md .modal-card{
  width: 600px;
  height: 500px;
}

.modal-lg .modal-card{
  width: 800px;
  height: 600px;
}

.modal-xl .modal-card{
  width: 1000px;
  height: 700px;
}

.modal-header, .modal-footer{
  height: 20%;
}

.modal-body{
  /* height: 100%; */
}

.task-card{
  height: 150px;
}

.logo img{
  width: 140px;
  height: 50px
}

.button{
  height: 40px;
  width: 100px;
}

.task_arrow{
  height: 30px;
  width:30px;
  background: #6480bcb6;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.opacity_one{
  opacity: 1;
}

.task_arrow_right{
  right: -11px;
}

.task_arrow_left{
  left: -11px;
}

.spinner{
  z-index: 1000;
  background-color: rgba(7, 7, 7, 0.133);
}

/* .project-card{
  width: 300px;
  height:300px;
} */

.img-bg{
  background-image: url("./waves.jpg");
  background-size: cover;
  height: 100%;  
}

.main{
  height: 87%;
}

.welcome{
  position: absolute !important;
  top: 200px;
  left: 200px;
}

.welcome p:first-child{
  font-size: 78px;
  font-weight: bolder;
}
.welcome p:last-child{
  font-size: 78px;
}
.description{
  position: absolute !important;
  top: 500px;
  right: 200px;
  width: 500px;
  font-size: large;
}

.create-home{
  position: absolute;
  bottom: 100px;
  left: 200px;
}

/* Add custom styles and apply Tailwind utilities here */
@layer utilities {
 .form-field{
  @apply w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent
 }
 .btn {
    @apply cursor-pointer rounded-lg font-medium transition-colors duration-200 inline-flex items-center justify-center p-0; /* ← added h-10 */
  }

  .btn-primary {
    @apply  bg-blue-600 text-white hover:bg-blue-700;
  }

  .btn-secondary {
    @apply  bg-gray-200 text-gray-800 hover:bg-gray-300;
  }

  .btn-danger {
    @apply bg-red-600 text-white hover:bg-red-700;
  }

  .btn-outline {
    @apply border border-gray-400 text-gray-700 hover:bg-gray-100;
  }
  .heading{
    @apply text-2xl font-bold mb-4
  }
}