@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body{
  height: 100vh;
  width: 100vw;
}
#root{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.main_kanban_container {
  width: 350px;
  height: 80%;
  text-align: center;
  padding: 10px;
}

.modal{
  height: 100%;
  width: 100%;
}
